.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.features h3 {
  margin-bottom: 0.5rem;
}

.features p {
  color: var(--ifm-color-emphasis-700);
}

.features .col {
  margin-bottom: 2rem;
}
